[submodule "ten-tips-for-pythonic-code-jetbrains-webcast"]
	path = ten-tips-for-pythonic-code-jetbrains-webcast
	url = https://github.com/mikeckennedy/ten-tips-for-pythonic-code-jetbrains-webcast.git
[submodule "GUI stuff/gitAudioSpectrum"]
	path = GUI stuff/gitAudioSpectrum
	url = https://github.com/markjay4k/Audio-Spectrum-Analyzer-in-Python.git
[submodule "provingground"]
	path = provingground
	url = https://cosgit1.ds.jdsu.net/scm/sat/provingground.git
[submodule "viavi-shared"]
	path = viavi-shared
	url = https://cosgit1.ds.jdsu.net/scm/sat/viavi-shared.git
[submodule "viavi-pycassette-drivers"]
	path = viavi-pycassette-drivers
	url = https://cosgit1.ds.jdsu.net/scm/sat/viavi-pycassette-drivers.git
