/VoipMS_Logfile.csv
/.idea/Learning1.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/uData.json
/VoipMS_Logfile - Copy.csv
/__pycache__/*.pyc
/MYPLOT.png
venv
/__pycache__
/.idea
/lazyxml.egg-info/
/pyxml/
/.vscode/